body{
    background-color: rgb(0, 0, 18);
}
.trail{
    color: gray;
    cursor: pointer;
    padding-left: 10px;
    font-size: 14px;
}
.box{
    color: gray;
    background-color:#303030;
    border-color: #414141;
    padding:5px;
    border-radius:100px;
    width:300px;
    font-size:12px;
}